# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/web/node_modules
/server/node_modules

# next.js
/web/.next/

# production
/web/build

# local env files
/web/.env*.local

/server/dist

# typescript
/web/*.tsbuildinfo
/web/next-env.d.ts

/.idea
